body{
    margin:0;
    height:100%;
    flex-direction: column;
}

body:lang(ar){
    text-align: right;
}

.section1{
    display: flex;
    flex:1;
    padding-top: 100px;
    padding-bottom:17px;
    margin: 0 auto;
    width: 95%;
}


.imageContainer{
    flex:1;
    display: flex;
    justify-content: center;
}


.section1 h1:lang(ar){
    text-align: right;
}

.section1Button{
    border-color: black;
    background-color: white;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 22px;
    min-width: 250px;
    width:35vw;
    box-shadow: 2px 3px black;
}




.section1Image{
    height:40vw;
    max-height:400px;
    min-height: 250px; 
}

.section1Container{
    background-color: darkgrey;
    flex:1;
}
.section2{
    display: flex;
    flex:1;
    padding:40px 0 50px 0;
    width:95%;
    margin:0 auto;
    color:black;
}

.section2TextInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section2Text{
    width:70%;
    letter-spacing: 1px;
    text-align: center;
    margin:0 auto;
    padding-bottom: 10px;
    font-size: px;
}


.section2Image{
    max-height:240px;
    height:20vw;
    min-height:200px;
}

.section2_content_container{
    flex:1;
    padding-bottom: 20px;
    margin:0 auto;
}

.section2ImageContainer{
    width:50%;
    margin:0 auto;
}

.section1InfoContainer{
    font-size:17px;
    font-weight: 700;
    line-height: 17px;
}

.section1Content{
    flex:1;
    color:white;
}


.navigation{
    background-color: #333333;
    padding-top: 10px;
}


.menuButton{
    display: none;
}
.menuButton + label{
    display: inline-block;
}

.menu{
    display: block;
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 10px 0 10px 20px;
    overflow: hidden;
}

li a{
    color: white;
    font-weight: 600;
    font-size: 19px;
}


.section2Paragraph{
    font-size: 17px !important;
}
/* NOT smart phone */
@media only screen and (min-width: 769px){
    li{
        display: inline;
        color: white;
        padding-right: 10px;
    }
    .section2Text{
        width:75%;
        font-size: 27px;
    }
    .menu{
        /* This is to prevent menu from hinding when changing for portrait to landscape */
        display: block !important;
    }
    .section1Content h1{
        line-height: 50px;
        font-size: 3vw;
    }

}
/* iphone and portraid ipad  */
@media only screen and (max-width: 768px) {

    .section1{
        flex-direction: column-reverse;
        padding-top: 10px;
    }
    .imageContainer{
        margin:auto;
        display: block;
    }
    
    .section2{
        display: block;
    }

    .section1Content{
        text-align: center;
    }

    .section2ImageContainer{
        display: flex;
    }


    .menuButton{
        display: block;
        padding:0 0 10px 20px;
    }


    .menu{
        display: none;
    }

    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
    li{
        border-bottom: 2px solid white;
        padding: 10px 20px 0 20px;
        display: block;
        padding-bottom: 5px;
    }

}
/* potrait ipad */
@media only screen and (max-width:810px) and (min-width: 768px){
    .section1{
        width:55%;
    }
    .section2_content_container{
        display: flex;
    }
    .section2Text{
        text-align: left;
        padding-left: 15px;
        font-size: 28px;
    }

    .section1Content h1{
        letter-spacing: 1px;
        text-align: center;
        padding-bottom: 10px;
        font-size: 30px;
    }
}

/* Max font */
@media only screen and (max-width: 1200px){
    .section1Content h1{
        letter-spacing: 1px;
        text-align: center;
        padding-bottom: 10px;
        font-size: 30px;
    }
}



span[lang="en"]{
    display:unset;
}

span[lang="ar"]{
    display: none;
}